header{
    display: block;
	width: 100%;
    background: #3daeff;
}

h1{
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    font-size: 16px;
    text-decoration: underline wavy white;
}

.logo{
    width: 10%;
    height: auto;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:75px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:75px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;   
}

.nav{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
}

.menu{
    position: absolute;
    width: 70%;
    margin-left: -70%;
    margin-top: 50px;
    transition: all 1s;
    background:black;
}

.nav .label-menu{
    display: block;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

.nav .label-menu:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);

}

.menu ul{
    display: flex;
    flex-direction: column;
	list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    flex-grow: 1;
    border: 1px solid #fff;
    
}

.menu li:hover{
	background: rgba(0,0,0,0.3);
}

.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

#header-div-3{
    display: none;
}

#header-search{
    display: flex;
    width: 100%;
}

#btn-menu{
    display: none;
    
}

#btn-menu:checked ~ .menu{
    margin: 0px;
    margin-top: 50px;
}



@media (min-width: 768px) {

    header{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    h1{
        font-size: auto;
    }

    .logo{
        width: 30%;
    }
    
    .menu{
        display: flex;
        position: relative;
        width: 100%;
        margin: 0px;
    }

    .menu ul{
        display: contents;
    }

    .nav{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav .label-menu{
        display: none;
    }
    
    #btn-menu, #header-search{
        display: none;
    }
    
    #header-div-3{
        display: inline-flex;
    }

}