.nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
}

.menu {
    display: none;
    position: absolute;
    width: 70%;
    margin-top: 50px;
    transition: all 1s;
    background:black;
}

.nav .label-menu {
    display: block;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

.nav .label-menu:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.menu ul {
    display: flex;
    flex-direction: column;
	list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    flex-grow: 1;
    border: 1px solid #fff;
}

.menu li:hover {
	background: rgba(0,0,0,0.3);
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

#nav-search {
    display: flex;
    width: 100%;
}

#btn-menu {
    display: none;
}

#btn-menu:checked ~ .menu {
    display: inline;
    margin: 0px;
    margin-top: 50px;
}

@media (min-width: 768px) {

    .menu {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0px;
    }

    .menu ul {
        display: contents;
    }

    .nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav .label-menu {
        display: none;
    }
    
    #btn-menu, #nav-search {
        display: none;
    }

}